/test-results
TickedPriorityQueue.userprefs
/TickedPriorityQueue/test-results
/TickedPriorityQueue/TickedPriorityQueue.pidb
/TickedPriorityQueue/bin
/TickedPriorityQueue Unit Tests/bin
/TickedPriorityQueue.userprefs